*.iml
.gradle/**
.idea/**
gradle/**
build.gradle.kts
gradle.properties
gradlew
gradle
gradlew.bat
local.properties
settings.gradle.kts
app/build/**
app/libs/**
app/.gitignore
app/build.gradle.kts
app/proguard-rules.pro
app/src/androidTest/**
app/src/test/**